@import "~bootstrap/dist/css/bootstrap.min.css";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* html,
body,
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.calcHeight {
  height: calc(100% - 80px);
}

.active {
  border-bottom: 2px #61dafb solid;
  padding-bottom: 3px;
}

.nav-link {
  color: #000 !important;
  font-weight: 500;
  font-size: 18px;
  margin: 10px;
  text-align: center;
  margin-right: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.marginContent {
  margin-left: 5%;
}

.navBar{
  background-color: rgb(210, 210, 210)
}
.header{
  background-color: rgb(240, 240, 240)
}

.item{
  background-color: rgb(216, 201, 201)
}
    